/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .affiliateSlider{
     width: 100%;
 }
 .affiliateSlider img{
     width: 100%;
 }



.slick-prev:before, .slick-next:before{
    color:black;
}
