/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .affiliateSlider{
     width: 100%;
     /* overflow-x:hidden; */
 }
 .affiliateSlider img{
     width: 100%;
 }
.slick-slide{
    padding: 5px;
}
 .slide{
     position:relative;
 }


 .slideText{
     position:absolute;
     bottom: 0px;
     color:white;
     background: rgba(0,0,0,.75);
     width: 100%;
     padding: 5px;
 }



.slick-prev:before, .slick-next:before{
    color:black;
}
